
@font-face { font-family: Montserrat-Light; 
  src: url('../Montserrat/Montserrat-Light.ttf'); } 

* {
    box-sizing: border-box;
    

  }
  
 body {
  background: #FCFBF6;
  font-family: Montserrat-Light;
  font-display: swap;
  color: #f2d7b0; 
 }

.topnav{
  padding-top: 3%; 
  margin-bottom: 1%;
  font-weight:bold; 
}

 .topnav a{
  text-decoration-line: none;
  font-size: 30px;
  padding-left:12.3%;
  padding-right:12.3%;
  color: #f2d7b0; 

 }

 .topnav a:hover{
  border-bottom: 2px solid #f2d7b0; 

 }

 .Main-image img{
    margin: 0 auto;
    display: block;
 }

 .bottom-border{
  width: 70%;
  margin:0 auto;
  border-bottom:2px solid #f2d7b0;
  
 }

 .center{
  margin: auto;
  width: 50%;
  padding: 10px;
 }

 .heading {
   font-size:56px;
   text-align: center;
   padding-top: 7%;
   
 }